In [155]:
import pymysql
import query
import pandas as pd

First things first - read the files

In [156]:
df = pd.read_csv("/home/vishal/ftp_files_csv/bt_attr.csv",usecols=["setting_app_id","blp_score"])

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42484 entries, 0 to 42483
Data columns (total 2 columns):
setting_app_id    42484 non-null int64
blp_score         42484 non-null int64
dtypes: int64(2)
memory usage: 663.9 KB

Rename columns for join

In [158]:
scoredf=scoredf.rename(columns={"setting_app_id": "LoanId", "blp_score": "score"})

We need to query the DB in the below date range.

In [159]:
dbquerydf = query.iloans("SELECT * FROM view_FCL_Loan WHERE OriginationDate between '2019-01-01' AND '2020-05-01'")

In [160]:
dbquerydf[["LoanId","IsFirstDefault","OriginationDate"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16541 entries, 0 to 16540
Data columns (total 3 columns):
LoanId             16541 non-null float64
IsFirstDefault     16299 non-null object
OriginationDate    16541 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 387.8+ KB

In [161]:
dbdf=dbquerydf[["LoanId","IsFirstDefault"]]

In [162]:
dbdf.head()

         LoanId IsFirstDefault
0  2.962821e+10           True
1  1.367922e+10           True
2  2.764596e+10           True
3  1.264948e+10           True
4  1.666419e+10           True

Putting it all together

In [163]:
view_df = pd.merge(scoredf, dbdf, how ='left', on ='LoanId')

In [164]:
view_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42484 entries, 0 to 42483
Data columns (total 3 columns):
LoanId            42484 non-null int64
score             42484 non-null int64
IsFirstDefault    4045 non-null object
dtypes: int64(2), object(1)
memory usage: 1.3+ MB

In [165]:
view_df.head()

        LoanId  score IsFirstDefault
0  10660872622    298            NaN
1  10661291196    254            NaN
2  10662080444    295            NaN
3  10662493120    298          False
4  10664419139    227            NaN