In [2]:
from datetime import datetime

In [3]:
datetime.now().strftime("%Y%m%d-%H%M%S")

'20200702-232026'

/home/vishal/anaconda3/envs/uw_model_play2/bin/python

In [4]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [121]:
%reload_ext autoreload
%autoreload 2

In [2]:
%load_ext blackcellmagic

In [3]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import pymysql
import pymssql
import sys

In [4]:
sys.path.insert(0, '/home/shared/utils')

In [5]:
from db_utils import *
import kpi_count

In [6]:
iloans_conn = get_iloans_conn()
predicon_conn = get_predicon_db_conn()
bank_app_conn = get_bank_app_conn()

bank_app - loanid, entered_date, bv decisions

predicon_model - loan_id, entered_date, count of scored applicants, #positive

loans - loanid, lead_time_added, #lender approved

## In a Nutshell

### Extracting Data

In [130]:
bank_app = kpi_count.extract_bankapp(bank_app_conn)

In [131]:
model = kpi_count.extract_model(predicon_conn)

In [132]:
funded_loans = kpi_count.extract_funded_loans(iloans_conn)

### Modifying Data

In [133]:
md_bnk = kpi_count.modify_bankapp_db(bank_app)

In [134]:
md_mod = kpi_count.modify_model_db(model)

In [135]:
md_fl = kpi_count.modify_fundedloans_db(funded_loans)

### Merging all the modified datasets and generating model kpi metrics

In [138]:
kpi_func = kpi_count.get_kpi(md_bnk, md_mod, md_fl)

In [139]:
kpi_func

,entered_date,manual_decision,#positive_scored,#model_scored,isLenderApproved
0,2020-06-09,476,76.0,180.0,63
1,2020-06-10,347,114.0,277.0,55
2,2020-06-11,398,127.0,324.0,70
3,2020-06-12,391,132.0,329.0,63
4,2020-06-13,192,48.0,146.0,24
5,2020-06-15,302,94.0,268.0,63
6,2020-06-16,449,124.0,374.0,71
7,2020-06-17,399,109.0,329.0,69
8,2020-06-18,437,126.0,343.0,74
9,2020-06-19,418,108.0,340.0,62
10,2020-06-20,165,50.0,140.0,25
11,2020-06-22,349,NaN,NaN,68
12,2020-06-23,462,2.0,3.0,75
13,2020-06-24,450,12.0,53.0,70
14,2020-06-25,440,124.0,356.0,58
15,2020-06-26,434,108.0,349.0,85
16,2020-06-27,176,50.0,128.0,29
17,2020-06-28,3,1.0,2.0,0
18,2020-06-29,435,119.0,370.0,92
19,2020-06-30,523,147.0,423.0,79
20,2020-07-01,449,129.0,377.0,66
21,2020-07-02,467,104.0,370.0,69
22,2020-07-03,415,104.0,339.0,72
23,2020-07-04,152,32.0,113.0,24
24,2020-07-05,8,NaN,NaN,0
25,2020-07-06,397,120.0,351.0,72
26,2020-07-07,585,162.0,486.0,86
27,2020-07-08,208,51.0,150.0,30